<!--<div class='kanban_stage'>-->
<!--  <ul>-->
<!--    <li *ngFor="let card of cards" (click)="cardSelect.emit(card)">-->
<!--      {{ card.title }}-->
<!--      <button (click)="moveBack.emit(card)" *ngIf="card.stageId > 1">Back</button>-->
<!--      <button (click)="moveForward.emit(card)" *ngIf="card.stageId < 4">Forward</button>-->
<!--      <button (click)="deleteCard.emit(card)">Delete</button>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <button (click)="addCard.emit()">Add Card</button>-->
<!--</div>-->
