<main class="container p-3 py-md-5">

  <div class="bg-light p-3 py-md-5 rounded kanban_view">
    <div class='kanban_controls'>
      <div class="row mb-3">
        <div class="col">
          <h4>Add new task</h4>
          <div class="input-group">
            <input type="text" [(ngModel)]='taskNew' class="form-control" placeholder="New task name">
            <button class="btn btn-primary" (click)="onAddCard()">Add</button>
          </div>
        </div>
        <div class="col">
          <h4>Edit task</h4>
          <div class="input-group">
            <input type='text' [(ngModel)]='taskSelected' class="form-control">
            <button class="btn btn-outline-secondary" (click)='onMoveBackCard()'>Move Back</button>
            <button class="btn btn-outline-secondary" (click)='onMoveForwardCard()'>Move Forward</button>
            <button class="btn btn-danger" (click)='onDeleteCard()'>Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kanban_stage_container row p-3 py-md-5 text-center">
    <div class='col' *ngFor='let stage of this.stages'>
      <app-kanban-stage [stage]='stage' (onCardSelection)='onCardSelect($event)'></app-kanban-stage>
    </div>
  </div>

</main>
